# =========================
# 🔥 Build files
# =========================
target/
build/
out/

# =========================
# 🔥 IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# 🔥 Logs
# =========================
*.log

# =========================
# 🔥 OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# 🔥 Temp
# =========================
*.tmp

# =========================
# 🔥 Database local
# =========================
*.db
*.sqlite

# =========================
# 🔥 Environment / config
# =========================
.env